.aboutMe {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background-color: $accentColorTwo;
  border-top: 1px solid $outlineColor;
  .myPhoto {
    padding: 120px 40px 40px 140px;
    background-color: $accentColorTwo;
    width: 45%;
    height: 100%;
    justify-content: center;
    align-items: center;
    img {
    width: 500px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid $outlineColor;
    margin: 0 auto;
    }
  }
  h2 {
    padding: 120px 0 40px 0;
    font-family: $h2Font;
    font-weight: 400;
    font-size: 4rem;
    color: $outlineColor;
  }
  .aboutMeContent {
    background-color: $accentColorTwo;
    .aboutMeParaAndLinks {
      display: flex;
      align-items: center;
      //width: 75%;
      line-height: 2.5rem;
      color: $outlineColor;
      width: 80%;
      p {
        padding: 0 200px 100px 0;
        font-family: $bodyFont;
        font-size: 2.5rem;
        font-weight: 100;
        line-height: 3rem;
        align-items: center;
        color: $outlineColor;
      }
      button {
        background-color: $primaryColorOne;
        color: $outlineColor;
        border: 1px solid $outlineColor;
        border-radius: 50px;
        box-shadow: 5px 5px;
        width: 200px;
        font-size: 1rem;
        margin-top: 2px;
        height: 80px;
        align-items: center;
      }
      button:hover {
        background-color: $outlineColor;
        color: $primaryColorOne;
        box-shadow: 5px 5px $backgroundColor;
      }
    }
  }
}

