.contactMe {
  background-color: $backgroundColor;
  margin: 200px;
  h2 {
    padding: 100px 0 100px 0;
    font-family: $h2Font;
    font-weight: 400;
    font-size: 4rem;
    color: $primaryColorOne;
    align-content: center;
  }
  .contactBox {
    background-color: $primaryColorThree;
    margin: 0 100px 0 100px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    img {
      height: 100%;
    }
    .contactBoxRight {
      display: grid;
      overflow: hidden;
    }
    .front, 
    .back {
      grid-area: 1/1;
    }
    .front {
      transition: transform 0.8s ease;
    }
    /* togle this class using javascript */
    .front.slide-up {
      transform:  translateY(-120%);
    }

    .front {
      background-color: $primaryColorThree;
      display: grid;
      place-items: left;
      z-index: 1;
      overflow: hidden;
      padding-left: 50px;
      h3 {
        padding: 50px 0 0 0;
        font-family: $h1Font;
        font-weight: 300;
        font-size: 3rem;
        }
        p {
        font-family: $h1Font;
        color: $primaryColorOne;
        font-size: 2rem;
        font-weight: 100;
        line-height: 3rem;
        width: 90%;
        }
      .register-button {
        background-color: $primaryColorThree;
        width: 300px;
        font-family: $h1Font;
        color: $primaryColorOne;
        font-weight: 300;
        font-size: 1.5rem;
        margin: 20px 0 40px 0;
        border: 1px solid $primaryColorOne;
      }
      .register-button:hover {
        background-color: $primaryColorOne;
        color: $backgroundColor;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: left;
      border-style: none;
      padding: 50px 50px 0 50px;
      .contactFormTop {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-style: none;
        label {
          font-family: $h2Font;
          font-size: 1rem;
          color: $primaryColorOne;
        }
        .nameField, .emailField {
          border-style: none;
          }
        }
        .username, .email {
          height: 40px;
          width: 100%;
          margin: 20px 0 20px 0;
          border-style: none;
          color: $textGrey;
        }
        .contactFormBottom {
          textarea {
            width: 100%;
            font-family: $h2Font;
            font-size: 1rem;
            padding-left: 5px;
            border-style: none;
            color: $textGrey;
          }
          .submitButton {
            height: 40px;
            //display: block;
            width: 50%;
            background-color: $primaryColorThree;
            color: $primaryColorOne;
            font-size: 1.5rem;
            border: none;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            border: 1px solid $primaryColorOne;
            &:hover {
              background-color: $primaryColorOne;
              color: $backgroundColor;
              
            }
          }
        }
      }
    }
  }
  



