.contactMe {
  background-color: $backgroundColor;
  margin: 200px;
  h2 {
    padding: 100px 0 100px 0;
    font-family: $h2Font;
    font-weight: 400;
    font-size: 4rem;
    color: $primaryColorOne;
    align-content: center;
  }
  .contactBox {
    background-color: $primaryColorOne;
    margin: 0 100px 0 100px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    color: $backgroundColor;
    border: 20px solid $primaryColorOne;
    img {
      height: 100%;
      border: 10px solid $primaryColorOne;
    }
    .contactBoxRight {
      display: grid;
      overflow: hidden;
      border: 10px solid $primaryColorOne;
      height: 100%;
    }
    .front, 
    .back {
      grid-area: 1/1;
    }
    .front {
      transition: transform 0.8s ease;
    }
    /* togle this class using javascript */
    .front.slide-up {
      transform:  translateY(-120%);
    }

    .front {
      background-color: $primaryColorOne;
      color: $backgroundColor;
      display: grid;
      place-items: left;
      z-index: 1;
      overflow: hidden;
      padding-left: 50px;
      h3 {
        padding: 50px 0 0 0;
        font-family: $h2Font;
        font-weight: 400;
        font-size: 3rem;
        color: $backgroundColor;
        }
        p {
        font-family: $h2Font;
        color: $backgroundColor;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 3rem;
        width: 90%;
        padding: 0;
        }
      .register-button {
        background-color: $primaryColorOne;
        width: 300px;
        height: 50px;
        font-family: $h2Font;
        color: $backgroundColor;
        font-weight: 400;
        font-size: 1rem;
        margin: 20px 0 40px 0;
        border: 1px solid $backgroundColor;
      }
      .register-button:hover {
        background-color: $backgroundColor;
        color: $primaryColorOne;
      }
    }

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      border-style: none;
      padding: 50px 50px 0 50px;
      background-color: $backgroundColor;
      color: $primaryColorOne;
      .contactFormTop {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-style: none;
        label {
          font-family: $h2Font;
          font-size: 1rem;
          color: $primaryColorOne;
          margin: 0;
        }
        .nameField, .emailField {
          margin: 0;
          border-bottom: 2px solid $primaryColorOne;
          }
        }
        .username, .email {
          height: 40px;
          width: 100%;
          margin: 20px 0 10px 0;
          border-style: none;
          color: $textGrey;
          line-height: 1;
          padding-top: 30px;
        }
        .contactFormBottom {
          padding-top: 5%;
          textarea {
            width: 50%;
            height: 100px;
            font-family: $h2Font;
            font-size: 1rem;
            padding: 0 0 0 5px;
            border-style: none;
            color: $textGrey;
            border: 2px solid $primaryColorOne;
          }
          .submitButton {
            width: 50%;
            font-family: $h2Font;
            color: $primaryColorOne;
            font-weight: 400;
            font-size: 1.5rem;
            margin: 20px 0 40px 0;
            background-color: $primaryColorOne;
            color: $backgroundColor;
            text-align: center;
            margin-top: 5%;
            &:hover {
              background-color: $backgroundColor;
              color: $primaryColorOne;
              border: 1px solid $primaryColorOne;
            }
          }
        }
      }
    }
  }
  



