.contactMe {
  background-color: $primaryColorOne;
  margin: 200px;
  h2 {
    padding: 120px 0 100px 0;
    font-family: $h2Font;
    font-weight: 600;
    font-size: 4rem;
    color: $outlineColor;
    align-content: center;
  }
  .contactBox {
    margin: 0 100px 0 100px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    color: $outlineColor;
    border: 1px solid $outlineColor;
    margin-bottom: 100px;
    .contactRectangle {
      height: 100%;
      width: 100%;
      background-color: $accentColorFour;
      border-right: 1px solid $outlineColor;
      img {
        width: 500px;
      }
    }
    .contactBoxRight {
      display: grid;
      overflow: hidden;
      height: 100%;
      background-color: $accentColorTwo;
    }
    .front, 
    .back,
    .contactThankYou {
      grid-area: 1/1;
      h2 {
      color: $outlineColor;
      }
      
    }
    .front {
      transition: transform 0.8s ease;
      background-color: $accentColorTwo;
    }
    .contactForm {
      transition: transform 0.8s ease;
      z-index: 1;
      background-color: $accentColorTwo;
    }

    /* togle this class using javascript */
    .front.slide-up {
      transform:  translateY(-120%);
    }

    .contactForm.slide-up {
      transform: translateY(-120%);
    }

    .front {
      background-color: $accentColorTwo;
      color: $outlineColor;
      display: grid;
      place-items: left;
      z-index: 2;
      overflow: hidden;
      padding-left: 50px;
      h3 {
        padding: 50px 0 0 0;
        font-family: $h2Font;
        font-weight: 400;
        font-size: 3rem;
        color: $outlineColor;
        }
        p {
        font-family: $bodyFont;
        color: $outlineColor;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 2.5rem;
        width: 90%;
        padding: 0;
        }
      .register-button {
        background-color: $primaryColorOne;
        width: 200px;
        height: 80px;
        font-family: $bodyFont;
        color: $outlineColor;
        font-weight: 400;
        font-size: 1rem;
        margin: 20px 0 40px 0;
        border: 1px solid $outlineColor;
        border-radius: 50px;
        box-shadow: 3px 3px $outlineColor;
      }
      .register-button:hover {
        background-color: $outlineColor;
        color: $primaryColorOne;
        box-shadow: none;
        cursor: pointer;
      }
    }

    .contactForm {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      border-style: none;
      padding: 50px 50px 0 50px;
      background-color: $accentColorOne;
      color: $primaryColorOne;
      .contactFormTop {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-style: none;
        label {
          font-family: $h2Font;
          font-size: 1rem;
          color: $primaryColorOne;
          margin: 0;
        }
        .nameField, .emailField {
          margin: 0;
          border-bottom: 2px solid $primaryColorOne;
          }
        }
        .username, .email {
          height: 40px;
          width: 100%;
          margin: 20px 0 10px 0;
          border-style: none;
          color: $textGrey;
          line-height: 1;
          padding-top: 30px;
        }
        .contactFormBottom {
          padding-top: 5%;
          textarea {
            width: 50%;
            height: 100px;
            font-family: $h2Font;
            font-size: 1rem;
            padding: 0 0 0 5px;
            border-style: none;
            color: $textGrey;
            border: 2px solid $primaryColorOne;
          }
          .submitButton {
            width: 200px;
            height: 80px;
            display: block;
            font-family: $bodyFont;
            color: $primaryColorOne;
            font-weight: 400;
            font-size: 1.5rem;
            margin: 20px 0 40px 0;
            background-color: $outlineColor;
            text-align: center;
            margin-top: 5%;
            border-radius: 50px;
            box-shadow: 3px 3px $primaryColorOne;
            &:hover {
              background-color: $primaryColorOne;
              color: $outlineColor;
              border: 1px solid $primaryColorOne;
              box-shadow: 5px 5px $outlineColor;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  



