footer {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  height: 70vh;
  color: $backgroundColor;
  p {
    font-family: $h2Font;
    font-size: 1.5rem;
    color: $backgroundColor;
    }
  .footerRight {
    width: 60%;
    display: flex;
    flex-direction: row;
    .footerLogo p {
		font-family: 'Major Mono Display', monospace;
		font-size: 5rem;
		color: $backgroundColor;
      }
    .copyright {
      p {
        font-size: 1rem;
      }
    }
  }
  .footerLeft {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40%;
    padding: 8% 0 0 10%;
    h3 {
      color: $backgroundColor;
      font-size: 2rem;
      font-family: $h2Font;
      padding: 10px 0 10px 0;
    }
    .footerPara {
      width: 60%;
      font-weight: 100;
    }
    .newsSignUp {
      width: 60%;
      border-bottom: 3px solid $backgroundColor;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1rem;
      padding-top: 3%;
      input {
        background-color: $primaryColorOne;
        border: none;
        text-align: left;
      }
      .formButton {
        background-color: $primaryColorOne;
        color: $backgroundColor;
        font-size: 2rem;
        text-align: right;
      }
    }
    .contactLinks {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    .fab {
      font-size: 1.8rem;
      display: inline;
      padding: 20px;
      color: $backgroundColor;
    }
    .fa-github {
      padding-left: 0;
    }
    a {
      color: $backgroundColor;
      text-decoration: none;
      }
    }
  }
}
