footer {
  margin-top: 20%;
  height: 45vh;
  color: $outlineColor;
  background-color: $accentColorOne;
  border-top: 1px solid $outlineColor;
  position: relative;


  .purpleIllustration {
    position: absolute;
    top: -100px;
    right: 200px;
    border-radius: 50%;
    z-index: 11;
    img {
      width: 700px;
      border-radius: 50px;
      outline: 1px solid $outlineColor;
    }
  }
  .footerTop {
    display: flex;
    flex-direction: row;
    .footerRight {
    width: 60%;
    .footerLogo {
      text-align: center;
      padding-top: 20%;
      p {
      font-family: $logoFont;
      font-size: 5rem;
      color: $outlineColor;
      }
    }
  }
  .footerLeft {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40%;
    padding: 8% 0 0 10%;
    h3 {
      color: $outlineColor;
      font-size: 2rem;
      font-family: $h2Font;
      padding: 10px 0 10px 0;
    }
    .footerPara {
      width: 60%;
      p {
      font-weight: 100;
      font-family: $bodyFont;
      color: $outlineColor;
      }
    }
    .newsSignUp {
      width: 60%;
      border-bottom: 3px solid $outlineColor;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1rem;
      padding-top: 3%;
      input {
        background-color: $accentColorOne;
        border: none;
        text-align: left;
        color: $outlineColor;
        .email {
          color: $outlineColor;
        }
      }
      .formButton {
        background-color: $accentColorOne;
        color: $outlineColor;
        font-size: 2rem;
        text-align: right;
        border: none;
      }
    }
    .contactLinks {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    .fab {
      font-size: 1.8rem;
      display: inline;
      padding: 20px;
      color: $outlineColor;
    }
    .fa-github {
      padding-left: 0;
    }
    a {
      color: $outlineColor;
      text-decoration: none;
      }
    }
  }
  }
  .footerBottom {
    padding-top: 30px;
    background-color: $accentColorOne;
    padding-bottom: 40px;
    .copyright {
      text-align: center;
      color: $outlineColor;
      p {
        font-family: $bodyFont;
        font-weight: 100;
        font-size: 1rem;
      }
    }
  }
}
