
header {
	height: 120px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $outlineColor;
	width: 100%;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 48px 0 48px;
	transition: background-color 0.5s;
	border-bottom: 1px solid $outlineColor;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	nav a {
		color: $primaryColorOne;
		font-family: $bodyFont;
		font-weight: 100;
		padding: 16px;
		font-size: 1.5rem;
	}
	p {
		font-family: $logoFont;
		font-weight: 300;
		font-style: normal;
		font-size: 5rem;
		color: $primaryColorOne;
	}
}

header.scrolled {
	background-color: $primaryColorOne;
	a {
		color: $outlineColor;
	}
	p {
		color: $outlineColor;
	}
}

.name {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}

header h1, header.name header nav {
	flex: 1;
	font-family: $h1Font;
	color: $primaryColorOne;
}

a {
	color: $primaryColorOne;
	text-decoration: none;
}





