
header {
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $primaryColorOne;
	width: 100%;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 48px 0 48px;
	//border-bottom: 1px solid $outlineColor;
	//box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	.links {
		height: 100%;
		justify-content: center;
		align-items: center;
		padding-top: 50px;
	}
	nav {
		display: flex;
		flex-direction: row;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
	nav a {
		color: $outlineColor;
		font-family: $bodyFont;
		font-weight: 300;
		padding: 25px;
		font-size: 1.5rem;
		transition: 0.5s;
	}
	p {
		font-family: $logoFont;
		font-weight: 300;
		font-style: normal;
		font-size: 3rem;
		color: $primaryColorOne;
	}
	.aboutMeLink, .workLink, .skillsLink, .contactMeLink {
		background-color: $primaryColorOne;
		color: $outlineColor;
		transition: background-color 0.5s ease-out;
	}
}

header.scrolled {
	background-color: $primaryColorOne;
	border-bottom: 1px solid $outlineColor;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	// .aboutMeLink {
	// 	background-color: $accentColorFive;
	// 	border-left: 1px solid $outlineColor;
	// 	border-right: 1px solid $outlineColor;
	// }
// 	.aboutMeLink:hover {
// 	background-color: $accentColorSix;
// }
// 	.workLink {
// 		background-color: $accentColorOne;
// 		border-right: 1px solid $outlineColor;
// 	}
// 	.workLink:hover {
// 		background-color: $accentColorTwo;
// 	}
// 	.skillsLink {
// 		background-color: $accentColorSeven;
// 		border-right: 1px solid $outlineColor;
// 	}
// 	.skillsLink:hover {
// 		background-color: $accentColorEight;
// 	}
// 	.contactMeLink {
// 		background-color: $primaryColorOne;
// 		border-right: 1px solid $outlineColor;
// 	}
	p {
		color: $primaryColorOne;
	}
}



.name {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}

header h1, header.name header nav {
	flex: 1;
	font-family: $h1Font;
	color: $primaryColorOne;
}

a {
	color: $primaryColorOne;
	text-decoration: none;
}





