
.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  .words {
    padding-top: 3%;
    position: relative;
  }
  .words span {
    font-family: $introFont;
    color: $accentColorFour;
    font-size: 26rem;
    -webkit-text-stroke: 1px $outlineColor;
    position: relative;
    display: inline-block;
    animation: words 2s 1;
    animation-delay: calc(.2s * var(--i));
}

@keyframes words {
  0%,40%,100% {
    transform: translateY(0)
  }
  40% {
    transform: translateY(-100px)
  }
}
    .rightSide {
      width: 100%;
      padding: 14% 0 0 10%;
      background-color: $primaryColorOne;
      display: flex;
      flex-direction: row;
      position: relative;
      img {
        height: 10%;
        position: absolute;
        top: 900px;
        right: 1100px;
      }
      .words {
        width: 100%;
        p {
          max-width: 50%;
          font-size: 3rem;
          font-family: $bodyFont;
          font-weight: 300;
          color: $outlineColor;
          margin: 2% 0 2% 0;
          padding-left: 20px;
          line-height: 2.8rem;
        }
    }
  }
}

div.leftNav {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 500px 0 0 20px;
        z-index: 99;
      }
      div.leftNav div {
        background-color: #ffffff;
        width: 30px;
        height: 30px;
        border: 1px solid $outlineColor;
        border-radius: 50%;
        margin: 5px 10px 0 0;
      }
      .selected {
        background-color: $outlineColor !important; 
      }
