
.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  .introCover {
    background-color: $primaryColorTwo;
    position: absolute;
    top: 20%;
    left: 45%;
    width: 50%;
    height: 70%;
  }
  .leftSide {
  width: 50%;
  padding-top: 15%;
  background-image: url(../plant2.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  }
  .rightSide {
  width: 50%;
  padding-top: 15%;
  background-color: $backgroundColor;
  }
  h1 {
    font-size: 8rem;
    max-width: 80%;
    padding: 5% 0 2% 0;
    color: $primaryColorOne;
    font-family: $h1Font;
    font-weight: 300;
  }
  h2 {
    max-width: 40%;
    font-size: 2rem;
    font-family: $h1Font;
    font-weight: 100;
  }
}

.leftIntro {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

div.leftNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 100px 0 0 20px;
}

div.leftNav div {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: 5px 10px 0 0;
}

.selected {
  background-color: $mutedColorThree !important; 
}

 button {
  background-color: $primaryColorOne;
  color: $backgroundColor;
  width: 150px;
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
  border: none;
  }