@media (max-width: 2000px) {
  .intro {
  .introCover {
    .rightSide {
      height: 40%;
      .leftIntro {
        h1 {
          font-size: 4rem;
          width: 100%;
          }
        h2 {
          font-size: 2rem;
          max-width: 80%;
          line-height: 2.5rem;
          }
        button {
          padding-top: 0px;
          }
        }
      }
    }
  }
  .skills .skillsIcons ul {
    width: 100%;
  }
}

@media (max-width: 1900px) {
  .aboutMe {
    .greenBox {
      .greenBoxContent {
        width: 90%;
        padding-left: 10%;
        h2 {
          font-size: 3rem;
        }
      }
    }
    div.circle img {
    width: 300px;
    height: 300px;
    }
    div.square img {
    width: 300px;
    }
  }
}

@media (max-width: 1600px) {
  .aboutMe {
    .greenBox {
      .greenBoxContent {
        width: 80%;
      }
    }
  }
}

