.skills {
  height: 80vh;
  align-content: center;
    h2 {
    padding: 0 0 40px 0;
    font-family: $h2Font;
    font-weight: 400;
    font-size: 6rem;
    color: $outlineColor;
  }
    .skillsIcons ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px auto;
    li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    padding: 20px 180px 20px 180px;
    color: $outlineColor;
    p {
      font-family: $bodyFont;
      color: $outlineColor;
      padding-top: 4px;
    }
    .fa-brands {
      color: $outlineColor;
      font-size: 6rem;
      }
    }
    li:hover {
    transform: scale(1.2);
  }
  } 
}


