$primaryColorOne: #ffffff;
$accentColorOne: #E9FFD6;
$accentColorTwo: #B2C2F6;
$accentColorFour: #BBA1E2;
$outlineColor: #0100F2;

$logoFont: 'Inter', sans-serif;
$introFont: 'Fredoka One', sans-serif;
$h1Font: 'Quarx', sans-serif;
$h2Font: 'Inter', sans-serif;
$bodyFont: 'Inter', sans-serif;