$primaryColorOne: #050748;
$primaryColorTwo: #e0fddf;
$primaryColorThree: #cddef7;
$accentColorOne: #f8fb05;
$accentColorTwo: #d6d6d6;
$backgroundColor: #ffffff;
$backgroundColor2: #fffdf7;

$mutedColorOne: #a7e1f8;
$mutedColorTwo: #ffbccc;
$mutedColorThree: #ffeda8;
$mutedColorFour: #e0fddf;

$textColor: darkblue;
$headingColor: #ff66B3;

$logoFont: 'Major Mono Display', monospace;
$h1Font: 'Inter', sans-serif;
$h2Font: 'Rubik', sans-serif;
$headerFontThree: 'Oswald', sans-serif;
$headerFontFive: 'Dosis', sans-serif;