$primaryColorOne: #050748;
$primaryColorTwo: #e0fddf;
$primaryColorThree: #cddef7;
$accentColorOne: #f8fb05;
$accentColorTwo: #d6d6d6;
$backgroundColor: #fDffff;
$textColor: darkblue;
$headingColor: #ff66B3;
$h2Font: 'Montserrat', sans-serif;
$headerFontThree: 'Oswald', sans-serif;
$logoFont: 'Abril Fatface', cursive;
$headerFontFive: 'Dosis', sans-serif;