@import 'setup';
@import 'variables';
@import 'header';
@import 'intro';
@import 'aboutMe';
@import 'work';
@import 'skills';
@import 'contact';
@import 'footer';
@import 'mediaQueries';

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.intro, .sectionTwo, .sectionFour {
  background-color: $backgroundColor;
}

.sectionOne, .sectionThree, footer {
  background-color: $primaryColorOne;
  color: $backgroundColor;
}

h2, h3 {
  font-family: $h2Font;
  font-weight: 300;
}

@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg) }
	100% { transform: translate(-50%, -50%) rotate(360deg) }
}

div.stamps {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
}

div.stamps img {
	position:absolute;
	animation: spin 30s linear infinite;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  max-width: 1600px;
}

