@import 'setup';
@import 'variables';
@import 'header';
@import 'intro';
@import 'aboutMe';
@import 'work';
@import 'skills';
@import 'contact';
@import 'footer';

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.intro, .sectionTwo, .sectionFour {
  background-color: $backgroundColor2;
}

.sectionOne, .sectionThree, footer {
  background-color: $mutedColorFour;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  max-width: 1600px;
}

