@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 48px 0 48px;
}

header .links {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
}

header nav a {
  color: #0100F2;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  padding: 0 25px 0 25px;
  font-size: 1.5rem;
  text-align: center;
}

header p {
  font-family: "Quarx", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
  color: #0100F2;
}

header.scrolled {
  background-color: #ffffff;
  border-bottom: 1px solid #0100F2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header.scrolled p {
  color: #0100F2;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
}

header h1, header.name header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Quarx", sans-serif;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.intro {
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.intro .rightSide {
  width: 100%;
  padding: 14% 0 0 20%;
  background-color: #ffffff;
}

.intro .rightSide h1 {
  font-size: 30rem;
  max-width: 80%;
  padding: 2% 0 2% 0;
  color: #0100F2;
  font-family: "Quarx", sans-serif;
  font-weight: 400;
}

.intro .rightSide p {
  max-width: 50%;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: #0100F2;
  margin: 2% 0 2% 0;
  line-height: 2.8rem;
}

div.leftNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  padding: 500px 0 0 20px;
}

div.leftNav div {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #0100F2;
  border-radius: 50%;
  margin: 5px 10px 0 0;
}

.selected {
  background-color: #0100F2 !important;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80vh;
  background-color: #B2C2F6;
  border-top: 1px solid #0100F2;
}

.aboutMe .myPhoto {
  padding: 120px 40px 40px 140px;
  background-color: #B2C2F6;
  width: 45%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe .myPhoto img {
  width: 500px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #0100F2;
  margin: 0 auto;
}

.aboutMe h2 {
  padding: 120px 0 40px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #0100F2;
}

.aboutMe .aboutMeContent {
  background-color: #B2C2F6;
}

.aboutMe .aboutMeContent .aboutMeParaAndLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.5rem;
  color: #0100F2;
  width: 80%;
}

.aboutMe .aboutMeContent .aboutMeParaAndLinks p {
  padding: 0 200px 100px 0;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0100F2;
}

.aboutMe .aboutMeContent .aboutMeParaAndLinks button {
  background-color: #ffffff;
  color: #0100F2;
  border: 1px solid #0100F2;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px;
  width: 200px;
  font-size: 1rem;
  margin-top: 2px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe .aboutMeContent .aboutMeParaAndLinks button:hover {
  background-color: #0100F2;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px #F7EAC2;
          box-shadow: 5px 5px #F7EAC2;
}

.work {
  height: 260vh;
}

.work .recentWork {
  width: 60%;
}

.work .recentWork h2 {
  padding: 120px 0 40px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 6rem;
  color: #0100F2;
}

.work .workSamples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.work .workSamples .sampleOneBox {
  width: 100%;
}

.work .workSamples .sampleOneBox .sampleOne {
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 60%;
  height: 60vh;
  margin: 20px;
}

.work .workSamples .sampleOneBox .sampleOne img {
  width: 800px;
  padding: 10px;
}

.work .workSamples .sampleTwoBox {
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .workSamples .sampleTwoBox .sampleTwo {
  background-color: #ffffff;
  border: 1px solid #0100F2;
  width: 60%;
  height: 60vh;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.work .workSamples .sampleTwoBox .sampleTwo img {
  width: 800px;
  padding: 10px;
}

.work .workSamples .sampleTwoBox .sampleTwo button {
  position: absolute;
  right: -20px;
  bottom: -20px;
  background-color: #ffffff;
  color: #0100F2;
  border: 1px solid #0100F2;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px;
  width: 200px;
  height: 80px;
  font-size: 1rem;
  margin-top: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .workSamples .sampleTwoBox .sampleTwo button:hover {
  background-color: #0100F2;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px #F7EAC2;
          box-shadow: 5px 5px #F7EAC2;
}

.work .workSamples .sampleThreeBox {
  padding-top: 100px;
}

.work .workSamples .sampleThreeBox .sampleThree {
  background-color: #ffffff;
  border: 1px solid #0100F2;
  width: 60%;
  height: 60vh;
  margin: 20px;
}

.skills {
  height: 90vh;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills h2 {
  padding: 120px 0 40px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 6rem;
  color: #0100F2;
}

.skills .skillsIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 100px auto;
}

.skills .skillsIcons ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 150px;
  color: #0100F2;
}

.skills .skillsIcons ul li p {
  font-family: "Inter", sans-serif;
  color: #0100F2;
  padding-top: 4px;
}

.skills .skillsIcons ul li .fa-brands {
  color: #0100F2;
  font-size: 6rem;
}

.contactMe {
  background-color: #ffffff;
  margin: 200px;
}

.contactMe h2 {
  padding: 120px 0 100px 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: #0100F2;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contactMe .contactBox {
  background-color: #ffffff;
  margin: 0 100px 0 100px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #0100F2;
  border: 1px solid #0100F2;
  margin-bottom: 100px;
  /* togle this class using javascript */
}

.contactMe .contactBox .contactRectangle {
  height: 100%;
  width: 100%;
  background-color: #B2C2F6;
  border-right: 1px solid #0100F2;
}

.contactMe .contactBox .contactBoxRight {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  height: 100%;
  background-color: #E9FFD6;
}

.contactMe .contactBox .front,
.contactMe .contactBox .back,
.contactMe .contactBox .contactThankYou {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.contactMe .contactBox .front h2,
.contactMe .contactBox .back h2,
.contactMe .contactBox .contactThankYou h2 {
  color: #0100F2;
}

.contactMe .contactBox .front {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  background-color: #E9FFD6;
}

.contactMe .contactBox .contactForm {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  z-index: 1;
  background-color: #E9FFD6;
}

.contactMe .contactBox .front.slide-up {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.contactMe .contactBox .contactForm.slide-up {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.contactMe .contactBox .front {
  background-color: #E9FFD6;
  color: #0100F2;
  display: -ms-grid;
  display: grid;
  place-items: left;
  z-index: 2;
  overflow: hidden;
  padding-left: 50px;
}

.contactMe .contactBox .front h3 {
  padding: 50px 0 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #0100F2;
}

.contactMe .contactBox .front p {
  font-family: "Inter", sans-serif;
  color: #0100F2;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2.5rem;
  width: 90%;
  padding: 0;
}

.contactMe .contactBox .front .register-button {
  background-color: #ffffff;
  width: 200px;
  height: 80px;
  font-family: "Inter", sans-serif;
  color: #0100F2;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 40px 0;
  border: 1px solid #0100F2;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px #0100F2;
          box-shadow: 5px 5px #0100F2;
}

.contactMe .contactBox .front .register-button:hover {
  background-color: #0100F2;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contactMe .contactBox .contactForm {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-style: none;
  padding: 50px 50px 0 50px;
  background-color: #E9FFD6;
  color: #ffffff;
}

.contactMe .contactBox .contactForm .contactFormTop {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-style: none;
}

.contactMe .contactBox .contactForm .contactFormTop label {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
}

.contactMe .contactBox .contactForm .contactFormTop .nameField, .contactMe .contactBox .contactForm .contactFormTop .emailField {
  margin: 0;
  border-bottom: 2px solid #ffffff;
}

.contactMe .contactBox .contactForm .username, .contactMe .contactBox .contactForm .email {
  height: 40px;
  width: 100%;
  margin: 20px 0 10px 0;
  border-style: none;
  color: #8b8c89;
  line-height: 1;
  padding-top: 30px;
}

.contactMe .contactBox .contactForm .contactFormBottom {
  padding-top: 5%;
}

.contactMe .contactBox .contactForm .contactFormBottom textarea {
  width: 50%;
  height: 100px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0 0 0 5px;
  border-style: none;
  color: #8b8c89;
  border: 2px solid #ffffff;
}

.contactMe .contactBox .contactForm .contactFormBottom .submitButton {
  width: 200px;
  height: 80px;
  display: block;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 40px 0;
  background-color: #0100F2;
  text-align: center;
  margin-top: 5%;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px #ffffff;
          box-shadow: 5px 5px #ffffff;
}

.contactMe .contactBox .contactForm .contactFormBottom .submitButton:hover {
  background-color: #ffffff;
  color: #0100F2;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 5px 5px #0100F2;
          box-shadow: 5px 5px #0100F2;
}

footer {
  margin-top: 100px;
  height: 45vh;
  color: #ffffff;
  background-color: #0100F2;
}

footer .footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerTop .footerRight {
  width: 60%;
}

footer .footerTop .footerRight .footerLogo {
  text-align: center;
  padding-top: 20%;
}

footer .footerTop .footerRight .footerLogo p {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  color: #ffffff;
}

footer .footerTop .footerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 40%;
  padding: 8% 0 0 10%;
}

footer .footerTop .footerLeft h3 {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  padding: 10px 0 10px 0;
}

footer .footerTop .footerLeft .footerPara {
  width: 60%;
}

footer .footerTop .footerLeft .footerPara p {
  font-weight: 100;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

footer .footerTop .footerLeft .newsSignUp {
  width: 60%;
  border-bottom: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  padding-top: 3%;
}

footer .footerTop .footerLeft .newsSignUp input {
  background-color: #0100F2;
  border: none;
  text-align: left;
}

footer .footerTop .footerLeft .newsSignUp .formButton {
  background-color: #0100F2;
  color: #ffffff;
  font-size: 2rem;
  text-align: right;
  border: none;
}

footer .footerTop .footerLeft .contactLinks {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
}

footer .footerTop .footerLeft .contactLinks .fab {
  font-size: 1.8rem;
  display: inline;
  padding: 20px;
  color: #ffffff;
}

footer .footerTop .footerLeft .contactLinks .fa-github {
  padding-left: 0;
}

footer .footerTop .footerLeft .contactLinks a {
  color: #ffffff;
  text-decoration: none;
}

footer .footerBottom {
  padding-top: 30px;
}

footer .footerBottom .copyright {
  text-align: center;
  color: #ffffff;
}

footer .footerBottom .copyright p {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

@media (max-width: 2000px) {
  .intro .introCover .rightSide {
    height: 40%;
  }
  .intro .introCover .rightSide .leftIntro h1 {
    font-size: 4rem;
    width: 100%;
  }
  .intro .introCover .rightSide .leftIntro h2 {
    font-size: 2rem;
    max-width: 80%;
    line-height: 2.5rem;
  }
  .intro .introCover .rightSide .leftIntro button {
    padding-top: 0px;
  }
  .skills .skillsIcons ul {
    width: 100%;
  }
}

.dataVisOne {
  width: 500px;
  height: 500px;
  background-color: black;
}

@font-face {
  font-family: "Quarx";
  src: url(./fonts/quarx-webfont.woff);
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sectionFour {
  background-color: #ffffff;
  border-bottom: 1px solid #0100F2;
}

.sectionOne {
  background-color: #BAD79F;
  border-bottom: 1px solid #0100F2;
}

.sectionThree {
  background-color: #ffffff;
  color: #F7EAC2;
  border-bottom: 1px solid #0100F2;
}

h2, h3 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

div.stamps {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
}

div.stamps img {
  position: absolute;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  max-width: 1600px;
}
