@import 'setup';
@import 'variables';
@import 'header';
@import 'intro';
@import 'aboutMe';
@import 'work';
@import 'skills';
@import 'contact';
@import 'footer';


.intro, .sectionThree, footer {
  background-color: $mutedColorFour;
}

.sectionOne, .sectionTwo, .sectionFour {
  background-color: $backgroundColor2;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  max-width: 1600px;
}

